@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Parked Vehicles</h2>

<p>
    @*@Html.ActionLink("Create New", "Create") *@
    <input type="button" value="Park Vehicle" onclick="location.href='@Url.Action("Create", "Vehicles")'" /> &emsp;
    <input type="button" value="Create Member" onclick="location.href='@Url.Action("Create", "Members")'" /> &emsp;
    @*@Html.ActionLink("Search", "SearchView")*@
    <input type="button" value="Search" onclick="location.href='@Url.Action("SearchView", "Vehicles")'" />

    @using (Html.BeginForm())
    {
    <p>
        Vehicle Type: @Html.TextBox("SearchVType") &emsp;
        @*<input type="submit" value="Search" />*@
        Reg Nr: @Html.TextBox("SearchRNr") 
        <input type="submit" value="Search" />
     </p>
    }
    

<table class="table">
    <tr>
        <th>
            <a href="?sort=Member">
            @Html.DisplayNameFor(model => model.Member.MemberName)
            </a>
        </th>
        <th>
            <a href="?sort=typeOfVehicle">
            @Html.DisplayNameFor(model => model.TypeOfVehicle.VehicleType)
            </a>
        </th>
        <th>
            <a href="?sort=regNr">
            @Html.DisplayNameFor(model => model.RegNr)
            </a>
        </th>
        <th>
            <a href="?sort=colour">
            @Html.DisplayNameFor(model => model.colour)
            </a>
        </th>
        <th>
            <a href="?sort=brand">
            @Html.DisplayNameFor(model => model.Brand)
            </a>
        </th>
        <th>
            <a href="?sort=model">
            @Html.DisplayNameFor(model => model.Model)
            </a>
        </th>
        <th>
            <a href="?sort=nrOfWheels">
            @Html.DisplayNameFor(model => model.NrOfWheels)
            </a>
        </th>
        <th>
            <a href="?sort=timeIn">
            @Html.DisplayNameFor(model => model.TimeIn)
            </a>
        </th>
        @*<th>            
            @Html.DisplayNameFor(model => model.TimeOut)
        </th> *@
        <th>
            @Html.DisplayNameFor(model => model.ParkTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TimeFee)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfVehicle.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeIn)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TimeOut)
        </td> *@
        <td>
            @Html.DisplayFor(modelItem => item.ParkTime)            
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TimeFee)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check Out", "Delete", new { id=item.Id }) |
            
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
