@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Parked Vehicles</h2>

<p>
    @*@Html.ActionLink("Create New", "Create") *@
    <input type="button" value="Create New" onclick="location.href='@Url.Action("Create", "Vehicles")'" /> &emsp;
    @*@Html.ActionLink("Search", "SearchView")*@
    <input type="button" value="Search" onclick="location.href='@Url.Action("SearchView", "Vehicles")'" />

   
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfVehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrOfWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeParked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfVehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeParked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            
        </td>
    </tr>
}

</table>
